
@{
    ViewBag.Title = "Contact";
}
<br /><br /><br />

<div class="row">
    <div class="col-md-5">
        <h4>
            You can easily come to leaf cafe using the map, which was given right of the page.
            Furthermore, if you have any question contact us with the phone number, which was given below.See you soon.
        </h4>
        <br />
        <h5>
            Phone number:<br />
            +0 000 00 00
        </h5>
        <br />
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6163.552337060139!2d34.56747552353616!3d36.77085319093169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15278b39edaa851f%3A0x38dc3bf7495371b5!2sMersin%20Sahili!5e0!3m2!1str!2str!4v1677746241540!5m2!1str!2str"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

