
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<div class="row">
    <div class="col-md-6">

        <div>
            <img src="~/Content/restaurant.jpg" alt="Restaurant" style="max-width:510px;height:auto; margin-bottom:20px;" />
        </div>

    </div>

    <div class="col-md-5">
        <div class="container-fluid mt-3">
            <h2>Welcome To <b style="color:mediumseagreen">Leaf Restaurant</b></h2>
            <h4>We are happy to see you among us.</h4>

            <br />
            <div style="margin-left:25%">
                <h4>
                    Contact us anytime.
                </h4>
                <p style="margin-left:3%"><a href="@Url.Action("Contact")">CONTACT</a></p>
            </div>
            <img src="~/Content/restaurant2.jpg" alt="Meal" style="max-width:200px;height:auto; margin-bottom:20px; margin-top:8px" />
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <h4>
            This restaurant is our first restaurant that we opened 2 months ago.
            The leaf cafe <b><b>open 24/7</b></b><br /><br />
            Currently, there are meals, drinks and desserts in our menu.
            On the navbar menu you can see all the menu in the menu section, and you can reach the exact location from location section.
            Additionally, you can have the chance to reserve your place by making a reservation from the reservation section of the navbar.<br /><br />
            Don't forget to <b>support</b> our local restaurant.
        </h4>
       
    </div>
    <div class="col-md-1">

    </div>

    <div class="col-md-6">

        <div>
            <img src="~/Content/restaurant1.jpg" class="d-block " alt="Table" style="max-width:440px;" />
        </div>

    </div>
</div>



