
@{
    ViewBag.Title = "Menu";
}


<h2><b>MEALS</b></h2>

<div class="row">
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/kebap.jpg" alt="Card image" style="width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">KEBAB</h4>
                    <p class="card-text ">A dish of pieces of meat, fish, or vegetables roasted or grilled on a skewer or spit.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/burger.jpg" alt="Card image" style="width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">HAMBURGER</h4>
                    <p class="card-text"> A dish of pieces of beef, fried or grilled and typically served in a bread roll.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/soup1.jpg" alt="Card image" style="width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">TOMATO SOUP</h4>
                    <p class="card-text">Liquid dish, generally made by boiling lots of tomatoes in water.</p>
                </div>
            </div>
       
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/pizza.jpg" alt="Card image" style="width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">PIZZA</h4>
                    <p class="card-text">Round dish made with some meat and some vegetables on dough originally from Italy.</p>
                </div>
            </div>
        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/tavuk.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">CHICKEN</h4>
                    <p class="card-text">A plate of grilled chicken and potatoes.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/food3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">HEALTHY FOOD</h4>
                    <p class="card-text">A healthy plate with lots of vegetables.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/soup2.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">SOUP</h4>
                    <p class="card-text">Liquid dish, generally made by boiling vegetable in water.</p>
                </div>
            </div>
        
    </div>


    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/ramen.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">RAMEN</h4>
                    <p class="card-text"> A plate which quick-cooking noodles, with meat and vegetables.</p>
                </div>
            </div>
       
    </div>

</div>

<br />
<br />
<br />


<h2><b>DRINKS</b></h2>

<div class="row">
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/lemonade.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">LEMONADE</h4>
                    <p class="card-text">A drink made from lemon juice, water and sugar.</p>
                </div>
            </div>
        
    </div>

    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/drink1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">ICE DRINK</h4>
                    <p class="card-text">A glass of drink, made by extracting the juice of fruits.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/tea.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">TURKISH TEA</h4>
                    <p class="card-text">A hot drink made by infusing the leaves in boiling water.</p>
                </div>
            </div>
       
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/drink3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">FRUIT JUICE</h4>
                    <p class="card-text">A glass of refreshing drink, made by extracting the juice of fruits.</p>
                </div>
            </div>
        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/içecek1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">MILKSHAKE</h4>
                    <p class="card-text">It made by squeezing the juice of fruits and adding plenty of ice.There are many different types.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/drink2.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">COFFEE</h4>
                    <p class="card-text">A hot drink made from the roasted coffee beans.There are, mild and bitter tastes. </p>
                </div>
            </div>
        
    </div>
</div>

<br />
<br />
<br />

<h2><b>DESSERTS</b></h2>

<div class="row">
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/dessert3.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">CUPCAKE</h4>
                    <p class="card-text">A small cake baked in a cup-shaped foil or paper container.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/dessert4.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">COOKIE</h4>
                    <p class="card-text">A  sweet biscuit and containing pieces of chocolate or fruit.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
            <div class="card" style="max-width:150%;height:auto;">
                <img class="card-img-top img-rounded" src="~/Content/dessert1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">MACAROON</h4>
                    <p class="card-text">A light biscuit made with egg white, sugar, and almonds.</p>
                </div>
            </div>
        
    </div>
    <div class="col-md-3">
        <div class="card" style="max-width:150%;height:auto;">
            <img class="card-img-top img-rounded" src="~/Content/pasta1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">CAKE</h4>
                <p class="card-text">Sweet food made from a mixture of flour, fat, eggs, sugar, and decorated with fruits.</p>
            </div>
        </div>

    </div>

</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="max-width:150%;height:auto;">
            <img class="card-img-top img-rounded" src="~/Content/dessert2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">ICE CREAM</h4>
                <p class="card-text">Sweet frozen food made with milk, cream and flavoured with fruit.</p>
            </div>
        </div>

    </div>
    
    <div class="col-md-3">
        <div class="card" style="max-width:150%;height:auto;">
            <img class="card-img-top img-rounded" src="~/Content/pasta2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">PANCAKE</h4>
                <p class="card-text">A thin, flat cake of batter, fried on both sides in a pan and  rolled up with a sweet or savoury filling.</p>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card" style="max-width:150%;height:auto;">
            <img class="card-img-top img-rounded" src="~/Content/pasta3.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">BAKLAVA</h4>
                <p class="card-text">A dessert made of filo pastry filled with chopped nuts and soaked in honey.Originally from East.</p>
            </div>
        </div>

    </div>
</div>