@model Leaf_Cafe_1.Models.Person

@{
    ViewBag.Title = "Reservation1";
}
<div class="bg-danger" style="margin-top:40px">
    <p style="padding-top:20px">
        <center>
            <h1>THANK YOU, @Model.Name.ToUpper() for choosing us.</h1>
            <h3 style="height:100px; font-family:'Microsoft YaHei UI'" class="text-align">
                Your reservation has been registered.
            </h3>
        </center>
    </p>
</div>

